<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>org.health.administration.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPage</servlet-name>
        <jsp-file>/Register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SiginPage</servlet-name>
        <jsp-file>/SiginIn.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SendDataPage</servlet-name>
        <jsp-file>/SendData.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AuthPage</servlet-name>
        <jsp-file>/Auth.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthPage</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendDataPage</servlet-name>
        <url-pattern>/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPage</servlet-name>
        <url-pattern>/RegisterPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiginPage</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
        <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatch</servlet-name>
        <servlet-class>org.health.administration.dispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>certificateservlet</servlet-name>
        <servlet-class>org.health.administration.certificateservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Certificate</servlet-name>
        <servlet-class>org.health.administration.Certificate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatch</servlet-name>
        <url-pattern>/dispatch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>retriever</servlet-name>
        <jsp-file>/retriever.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>retriever</servlet-name>
        <url-pattern>/retriever</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>target</servlet-name>
        <jsp-file>/target.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>target</servlet-name>
        <url-pattern>/target</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>certificate</servlet-name>
        <jsp-file>/certificate.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>certificate</servlet-name>
        <url-pattern>/certificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>certificateservlet</servlet-name>
        <url-pattern>/certificateservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Certificate</servlet-name>
        <url-pattern>/Certificate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
