<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>org.health.administration.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPage</servlet-name>
        <jsp-file>/Register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SiginPage</servlet-name>
        <jsp-file>/SiginIn.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SendDataPage</servlet-name>
        <jsp-file>/SendData.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AuthPage</servlet-name>
        <jsp-file>/Auth.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>org.health.administration.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardEmailServlet</servlet-name>
        <servlet-class>org.health.administration.ForwardEmailServlet</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>halimahbukirwa24@gmail.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthPage</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendDataPage</servlet-name>
        <url-pattern>/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPage</servlet-name>
        <url-pattern>/RegisterPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiginPage</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardEmailServlet</servlet-name>
        <url-pattern>/ForwardEmailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
